<div id="new_article">
  <%= form_for @article, url: {action: "create"} do |f| %>
  <%= label_tag :title, "Title" %>
  <%= f.text_field :title %>
  <%= label_tag :title, "Content" %>
  <%= f.text_area :content %>
  <%= label_tag :title, "Description" %>
  <%= f.text_area :description %>
  <%= f.submit "Create" %>
<% end %>
</div>
