<div id="<%= "article_#{article.id}" %>" class="content-div">
  <div class="content">
    
  </div>
  <div class="title"><span href=<%= article_path(article) %>><%= article.title %></span></div>
  <a href="<%= article_path(article) %>" id="link_to_article_<%= article.id %>">link to article</a>
</div>
